
<div class='titles'>
<h1> Welcome to Tun<span>R</span>! </h1>
</div>
<div class="mainbox">
<button><%=link_to "Join Us!", controller: "users", action: "new"%></button>
<button><%=link_to "Login", sessions_path %></button>
<br></br>
<img src="http://coolmaterial.com/wp-content/uploads/2008/10/boombox-gelaskin.jpg" />

<p><%= link_to "Browse Artists", artists_path %></p>
</div>