/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  text-align: center;
  background: slategrey;
}
h1 {
  font-weight: 100;
  border: 2px solid skyblue;
  border-radius: 10px;
  background-color: skyblue;
  box-shadow: 5px 5px 5px 0;
}

img {
  width: 350px;
}

li {
  list-style-type: none;
}

#errors {
  color: red;
}
button {
  width: 100px;
  border-radius: 7px;
  background-color: skyblue;
  font-family: helvetica;
  font-size: 13px
}

a {
  color: blue;
}
.titles {
  width: 400px;
  margin: 0 auto;
}
span {
  font-family: baskerville;
  font-style: italic;
}
.mainbox {
  border: 2px solid skyblue;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 5px 0;
}


